@tailwind base;
@tailwind components;
@tailwind utilities;

.privacyScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCFF00;
    z-index: 2;
    transform-origin: right;
}